.to-do-list {
	display: flex;
	flex-direction: column;
}

.to-do-list li {
	display: flex;
}

.to-do-list li p {
	width: 200px;
	margin: 0 10px;
}

.to-do-list li div {
	width: 20px;
	height: 20px;
	border: 1px solid black;
}

.to-do-list li div.active {
	background: lawngreen;
}

.to-do-list li div.inactive {
	background: red;
}